{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #333; border-radius: 5px;" align="left">
        <br>
        <!--/message HTML content -->
        <p>{% blocktrans %}Hi {{full_name}},{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with course_title=course_title %}Thank you for purchasing {{course_title}}.{% endblocktrans %}</p>
        <br>
        <p>{% blocktrans with lms_dashboard=lms_dashboard %}You can access your course on {{lms_dashboard}}. {% endblocktrans %} </p>
        <p>{% blocktrans with lms_courses=lms_courses %}To explore other great courses, visit the {{lms_courses}}.{% endblocktrans %}</p>
        <br>
        <p>{% trans "Thank you. We hope you enjoy the course!" %}</p>
        <p>{% blocktrans %}Edevate team.{% endblocktrans %}</p>
        <!--/message HTML content -->
        <br><br>
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #002D40; background-color: #f3f3f3;" align="left">
        <!--footer content -->
        <br>
        <p>{% blocktrans with course_title=course_title %}You are receiving this email because you purchased a seat in the {{course_title}}.{% endblocktrans %}</p>
        <br>
        <!--/ end footer content -->
    </td>
</tr>
<!--/100% wrapper-->
<br>
<br>
{% endblock body %}

