{% load i18n %}
<header>
  <nav class="navbar header">
      <div class="navbar-header">
        <a href="/" class="logo-mobile"></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-header">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="menu-header">
        <div class="header-top">
            <div class="container">
              <a href="/" class="logo"></a>
              <ul class="nav navbar-nav">
                <li>
                  <a class="menu-item" href="http://blog.edevate.com/" target="_blank">Enterprise</a>
                </li>
                <li><a class="menu-item" href="{{ edevate_base_url }}/courses/search/">Certifications</a></li>
                <li><a class="menu-item" href="{{ edevate_base_url }}/microdegree/">MicroDegree</a></li>
                <li><a class="menu-item" href="{{ edevate_base_url }}/university/">University</a></li>
                {% if user.is_authenticated %}
                <li class="actions">
                  <button type="button" class="btn btn-new-primary btn-header dropdown-toggle" data-toggle="dropdown">
                    <span bind-if-exists="h.user.display_name">
                       {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}
                    </span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-item"><a href="{{ lms_dashboard_url }}">Dashboard</a></li>
                    <li class="dropdown-item"><a href="{{ edevate_base_url }}/profile/settings/">Profile</a></li>
                    <li class="dropdown-item"><a href="{{ lms_base_url }}/dashboard/programs/">Programs</a></li>
                    <li class="dropdown-item"><a href="{{ lms_base_url }}/subscription/">Subscription</a></li>
                    <li class="dropdown-item"><a href="{% url 'logout' %}">Sign Out</a></li>
                  </ul>
                </li>
              {% else %}
                <li class="actions">
                  <a href="{{ edevate_base_url }}/login"
                     class="btn btn-header">Log In</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>

        {% if user.is_authenticated %}
        <div class="header-menu">
          <div class="container">
            <ul class="nav navbar-nav">
              <li active-nav="active"><a class="menu-item" href="{{ edevate_base_url }}/profile/">My courses</a></li>
              <li active-nav="active"><a class="menu-item" href="{{ edevate_base_url }}/profile/my-education">My education</a></li>
              <li active-nav="active"><a class="menu-item" href="{{ edevate_base_url }}/profile/transcript">Transcript</a></li>
              <li active-nav="active"><a class="menu-item" href="{{ lms_dashboard_url }}">University dashboard</a></li>
          </ul>
          </div>
        </div>
        {% endif %}
      </div>
  </nav>
</header>